$dark-grey-color: #212121;
$light-grey-color: #9099a2;
$white-color: #fff;

$tablet-screen: 1080px;
$phone-screen: 640px;

$light-theme-color: #b0bec5;
$light-theme-color-section: #e2f1f8;
$light-theme-color-border: #808e95;

$dark-theme-color: #212121;
$dark-theme-color-section: #484848;
$dark-theme-color-border: #000;

$grey-theme-color: #757575;
$grey-theme-color-section: #a4a4a4;
$grey-theme-color-border: #616161;

$transition-time: 0.4s;
